
/*
*   Base body and html markup
*/
*{
    box-sizing: border-box;
}
body, html {
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: #ffffff;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}
/*
* Removing anchor tag's default behavior
*/
a, a:hover, a:after, a:before, a:active {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/*
*  Initial Base width and setting them to center
*/
div.header, div.page {
    width: 100%;
    min-width: 250px;
    max-width: 1200px;
    margin: 0 auto;
}
div.header{
    margin-bottom: 20px;
}
section.row{
    background-color: #efefef;
}
    
header > nav > ul{
    margin:0;
    background-color:  #2db968;
    text-align: right;
}

.logo {
    text-transform: uppercase;
    float: left;
    margin-left: -40px;
}


header > nav > ul > li{
    display: inline-block;
    padding: 15px;
    margin: 0;
    background-color: #2db968;
    cursor: pointer;
    transition: background-color 0.3s linear;
}
header > nav > ul > li a{
    color: #fff;
    line-height: 0;
    text-align: center;
    text-transform: uppercase;
}
header > nav > ul > li:hover{
    background-color: #12e2a4;
}
/*
 * Articles responsiveness
 *
 */
.row{
    width: 100%;
    padding: 20px;
    min-height: 50px;
    float: left;
    margin-bottom: 10px;
}
.col{
    background-color: #ffffff;
    min-height: 50px;
    box-shadow: 3px 3px 3px #ccc;
    margin-left: 2.4%;
    margin-right: 2.4%;
    margin-bottom: 2.4%;
    display: inline-block;
    float: left;
    padding: 10px;
}
.col:first-child{
    margin-left: 0px;
}
.col:last-child{
    margin-right: 0px;
}
.one{
    width: 3.93%;
}
.two{
    width: 12.66%;
}
.three{
    width: 21.4%;
}
.four{
    width: 30.13%;
}
.five{
    width: 38.867%;
}
.six{
    width: 47.6%;
}
.seven{
    width: 56.333%;
}
.eight{
    width: 65.07%;
}
.nine{
    width: 73.8%;
}
.ten{
    width: 82.533%;
}
.eleven{
    width: 91.27%;
}
.twelve{
    width: 100%;
}

.btn{
    padding: 13px;
    margin-right: 2px;
    margin-bottom: 5px;
    border: none;
    cursor: pointer;
    background-color: #444;
    color: #fff;
    transition: background-color 0.3s linear;
}
.btn:hover{
    background-color: #888;
    box-shadow: 1px 1px 1px #ccc;
}
.btn-lg{
    font-size: large;
}
.btn-sm{
    font-size: small;
    padding: 9px;
}
.btn-block{
    width: 100% !important;
}
.btn-good{
    background-color: #32ac98;
}
.btn-good:hover{
    background-color: #6bd3c1;
}
.btn-bad{
    background-color: #a94334;
}
.btn-bad:hover{
    background-color: #d17669;
}
.btn-normal{
    background-color: #189ac5;
}
.btn-normal:hover{
    background-color: #43bfe9;
}
.grid{
    padding: 0.5%;
    margin-top: 0.5%;
    margin-bottom: 3%;
}
.grid > .grid-heading{
    padding: 3.5%;
    color: #fff;
}
.grid-good > .grid-heading {
    background-color: #32ac98;
    border-left: 5px solid #1d6356;  
}
.grid-bad > .grid-heading {
    background-color: #a94334;
    border-left: 5px solid #4e1f18;  
}
.grid-normal > .grid-heading {
    background-color: #189ac5;
    border-left: 5px solid #0b4457;  
}
.grid-body{
    padding-bottom: 1.5%;
    border-bottom: 1px solid #ccc;
}
.grid-footer{
    margin-top: 5%;
    margin-bottom: 3%;
    margin-left: 2%;
    float: right;
}

.jumbo{
    font-size: 72px;
    text-align: center;
    text-shadow: 1px 1px 1px #ccc;
}
@media (max-width: 768px){
    .jumbo{
        font-size: 35px;
    }
    header > nav > ul > li, .logo{
    display: block;
    text-align: center;
    transition: transform 0.5s linear;
    }
    .col{
        width: 100% !important;
        margin: 5px 0px 5px 0px;
    }
}